@font-face {
  font-family: "PressStart2P";
  src: url("./fonts/PressStart2P.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "PressStart2P", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  
  
}
h1, h2, h3, span {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  /* text-align: center; */
  align-items: center;
  justify-content: right;
}




.life-bar {
  display: flex;
  gap: 10px; /* Space between hearts */
  flex-shrink: 0; /* Prevent the life bar from shrinking */
  align-items: center;
  position: sticky;
  top: 150px; /* Keeps it always near the top */
}

.heart {
  width: auto; 
  height: 60px;
  
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  /* align-items: left; */
  /* gap: 200px; */
  max-width: 70%;
  /* margin: 0 auto; */
  /* padding: 100px; */
}


.game-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px; /* Ensures space between life bar and game container */
  /* width: 100%; */
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(28, 30px); 
  grid-template-rows: repeat(35, 27px);    
  gap: 0px;  
  background-color: #000;
  margin-top: 130px;
  /* margin-left: 100px; */
}

.grid div {
  width: 30px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.power-pellet {
  background-color: rgb(14, 233, 14);
  border: solid black 2px;
  box-sizing: border-box;
  height: auto;
  border-radius: 30px;
  z-index: 1;
}

.pac-dot {
  background-color: yellow;
  border: solid black 12px;
  border-radius: 20px;
}


.info-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}




.safe-zone {
  background: transparent;
  border: solid rgb(77, 151, 235) 3px;
  border-radius: 20px;
  transform: translate(-1px, 0px);
  
}


.score-section{
  position: absolute;
  top: 60%; 
  left: 70%; 
  justify-content: center;
  align-items: center;
  /* display: flex; */
}
.safe-msg {
  position: absolute; 
  color: tomato;
  top: 30%; 
  left: 70%; 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  display: none;

} 



.blinky {
  background-image: url('green.jpeg');
  background-size: cover; 
  background-position: center;
}

.stinky {
  background-image: url('red.png');
  background-size: cover; 
  background-position: center;
}

.inky {
  background-image: url('mix.png');
  background-size: cover; 
  background-color: #000;
  background-position: center;
}

.clyde {
  background-image: url('orange.jpeg');
  background-size: cover; 
  background-position: center;;
}

.ghost {
  border: 0px;
  border-radius: 0px;
  z-index: 1;
}

.scared-ghost {
  background-image: url('scared.png');
  background-size: cover; 
  background-position: center;
}

.wall {
  background-image: url('wall.jpeg');
  background-size:contain; 
  background-position: center;
  border: solid 2px #330033; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  z-index: 1;
  
}

.pac-man {
  background-image: url('pacman.png'); 
  background-size: cover; 
  background-position: center;
  display: flex;
  z-index: 1;
}



.low-score {
  color: red;
}

.mid-score {
  color: yellow;
}

.high-score {
  color: rgb(0, 255, 106);
}

#start-screen {
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
}

#start-screen h1 {
  color: rgb(0, 255, 17);
  font-size: 4rem;
  margin-top: 40vh;
  margin-bottom: 40px;
  animation: colours 1s infinite;
}

#start-msg {
  animation: blink 0.8s infinite;
}

#start-screen h2 {
  margin: 20px 0px;
}

#game-over-screen {
  align-items: center;
  color: red;
  font-size: 6rem;
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none;
}


#round-loss-screen{
  align-items: center;
  color: rgb(32, 43, 196);
  font-size: 4rem;
  text-decoration: dashed;
  text-align: center;
  
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none;
}

#you-won-screen {
  align-items: center;
  color: #0bf117;
  font-size: 6rem;
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none;
}

#pause-screen {
  align-items: center;
  color: white;
  font-size: 2rem;  
  justify-content: center;
  text-align: center;  
  display: none; 
  flex-direction: column; 
  }
  

  #pause-screen p1 {
    position: absolute;
    top: 10%; 
    left: 30%;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(165, 17, 17, 0.7);
    font-weight: bold;
    text-align: center;
  }


  #help-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding-top: 50px;
    overflow: hidden;
  }


  #typewriter1 {
    /* width: 60%;  */
    color: #48ebca;
    font-size: 20px;
    line-height: 2rem;
    text-align: left;
    margin-top: 80px;  
  }
  
 
  #help-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
  }


.overlay-screen {
  position: absolute; 
  width: 100%;
  height: 110vh;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
}

@keyframes colours {
  0% {
    color: yellow;
  }
  31% {
    color: yellow;
  }
  33% {
    color: #dd1282;
  }
  65% {
    color: #dd1282;
  }
  66% {
    color: #0fd6cc;
  }
  99% {
    color: #0fd6cc;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}


.line {
  display: inline-block; 
  overflow: hidden;
  white-space: nowrap;
  color: rgb(0, 255, 200);
  width: 0; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; 
  }
}


.line1 {
  animation: typing 1s steps(30, end) forwards;
}
.line2 {
  animation: typing 1s steps(30, end) forwards 1s;
}
.line3 {
  animation: typing 1s steps(30, end) forwards 2s;
}
.line4 {
  animation: typing 1s steps(30, end) forwards 3s;
}
.line5 {
  animation: typing 1s steps(30, end) forwards 4s;
}
.line6 {
  animation: typing 1s steps(30, end) forwards 5s;
}
.line7 {
  animation: typing 1s steps(30, end) forwards 6s;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

#quickstart {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 70px;
  padding: 120px;
  opacity: 0; 
  animation: fadeInUp 2s ease-in-out 5s forwards;
}