@font-face {
  font-family: "PressStart2P";
  src: url("./fonts/PressStart2P.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PressStart2P", sans-serif;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
h1, h2, span {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.life-bar {
  display:none;
  justify-content: left;
  align-items: left;
  position: absolute; 
  top: 100px; 
  left: 10px;
}

.heart {
  width: auto; 
  height: 60px;
  /* margin: 0 5px; */
}

.game-container {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
}


.grid {
  display: grid;
  grid-template-columns: repeat(28, 27px); 
  grid-template-rows: repeat(35, 23px);    
  gap: 0px;  
  background-color: #000;
  margin-left: 100px;
}

.grid div {
  width: 20px;
  height: 20px;
}

.power-pellet {
  background-color: rgb(14, 233, 14);
  border: solid black 2px;
  box-sizing: border-box;
  border-radius: 10px;
}

.pac-dot {
  background-color: yellow;
  border: solid black 7px;
  box-sizing: border-box;
  border-radius: 10px;
}

.blinky {
  background-image: url('green.jpeg');
  background-size: cover; 
  background-position: center;
}

.stinky {
  background-image: url('red.png');
  background-size: cover; 
  background-position: center;
}

.inky {
  background-image: url('pink.webp');
  background-size: cover; 
  background-position: center;
}

.clyde {
  background-image: url('orange.jpeg');
  background-size: cover; 
  background-position: center;;
}

.ghost {
  border: 0px;
  border-radius: 0px;
}

.scared-ghost {
  background-image: url('scared.png');
  background-size: cover; 
  background-position: center;
}

.wall {
  background-color: #333369; /* Bright blue for walls */
  border: solid 3px #aa009f; /* Darker blue border to give depth */
  border-radius: 16px; /* Rounded corners for a smoother look */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  
}

.pac-man {
  background-image: url('pacman.png'); /* Ensure the path is correct */
  background-size: cover; 
  background-position: center;
}
h2 {
  color: white;
  font-weight: normal;
  text-align: center;
}


.low-score {
  color: red;
}

.mid-score {
  color: yellow;
}

.high-score {
  color: rgb(0, 255, 106);
}

#start-screen {
  background-color: black;
  color: white;
  flex-direction: column;
  align-items: center;
}

#start-screen h1 {
  color: yellow;
  font-size: 4rem;
  margin-top: 40vh;
  margin-bottom: 40px;
  animation: colours 1s infinite;
}

#start-msg {
  animation: blink 0.8s infinite;
}

#start-screen h2 {
  margin: 20px 0px;
}

#game-over-screen {
  align-items: center;
  color: red;
  font-size: 6rem;
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none;
}

#round-loss-screen{
  align-items: center;
  color: rgb(32, 43, 196);
  font-size: 4rem;
  text-decoration: dashed;
  text-align: center;
  
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none;
}

#you-won-screen {
  align-items: center;
  color: #0bf117;
  font-size: 6rem;
  justify-content: center;
  animation: blink 0.8s infinite;
  display: none;
}

#pause-screen {
  align-items: center;
  color: white;
  font-size: 2rem;  
  justify-content: center;
  text-align: center;  
  display: none; 
  flex-direction: column; 
  margin-top: 800px;
  }

.overlay-screen {
  position: absolute; 
  width: 100%;
  height: 100vh;
  display:flex;
}

@keyframes colours {
  0% {
    color: yellow;
  }
  31% {
    color: yellow;
  }
  33% {
    color: #dd1282;
  }
  65% {
    color: #dd1282;
  }
  66% {
    color: #0fd6cc;
  }
  99% {
    color: #0fd6cc;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}
